<% comment ||= nil %>
<% if comment %>
  <div class="list-group-item list-group-item-action">
    <div class="row">
      <div class="col-md-2"><%= comment.user&.email %></div>
      <div class="col-md-7"><%= comment.content %></div>
      <div class="col-md-3 text-right">
        <!-- <%# link_to "수정", edit_comment_path(comment) %> / -->
        <% if current_user == comment.user %>
          <%= link_to "삭제", comment_path(comment), class: "text-danger", method: :delete %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
